<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037634047901-qpdhh71q4tcabimgchb1smmqqmg0nmej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037634047901-qpdhh71q4tcabimgchb1smmqqmg0nmej</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1037634047901-k40aqeeqik829a9q3fm3us9e4dcci0be.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNFTOXsfzmOsVapuIeaIFXaDpmvMbmBAM</string>
	<key>GCM_SENDER_ID</key>
	<string>1037634047901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dash</string>
	<key>PROJECT_ID</key>
	<string>dash-7d9a8</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-7d9a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037634047901:ios:d93550f8ab6db108956974</string>
	<key>DATABASE_URL</key>
	<string>https://dash-7d9a8.firebaseio.com</string>
</dict>
</plist>